html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

p, h1, h2, h3, h4, h5, h6 {
    
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
    background-color:#1C1210;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

#perfil {
    width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-top: 10%;
    border: solid;
    border-radius: 100%;
}

.user {
    background-color:white;
    padding-bottom: 2%;
    box-shadow: 5px 10px #EE8A2F;
}

#comentario {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: black;
}

.user div {
    text-align: center;
}

.follow {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    position: absolute;
    bottom: 31px;
    left: 400px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.cbutton {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    position: absolute;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    bottom: 35%;
}

.edit {
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    position: absolute;
    bottom: 22px;
    left: 100px;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.follow:hover {
    color: black;
}

.delete {
    position: absolute;
    bottom: 31px;
    left: 500px;
}

.location {
    background-color:white;
    box-shadow: 5px 10px#EE8A2F;
    padding-top: 2%;
    padding-bottom: 2%;
}

#link_like {
    width: 100%;
    text-align: center;
}

#answer {
    border: none;
}

a {
    color: #1C1210;
}

a:hover {
    text-decoration: none;
    color: #1C1210;
}

.bio {
    background-color:white;
    box-shadow: 5px 10px#EE8A2F;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sg {
    background-color:white;
    box-shadow: 5px 10px#EE8A2F;
    padding-top: 2%;
    padding-bottom: 2%;
    border-bottom: 1px solid;
}

.com {
    background-color:white;
    box-shadow: 5px 10px#EE8A2F;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

.card-header {
    background-color: #EE8A2F;
}

.card-footer {
    background-color: #EE8A2F;
}

.card-body {
    background-color: white;
}

.pt {
    background-color:white;
    box-shadow: 5px 10px#EE8A2F;
}

#nav-comments-tab {
    background-color: white;
}

#nav-likes-tab {
    background-color: white;
}

#bio {
    width: 30px;
    height: auto;
}

#location {
    width: 30px;
    height: auto;
}

.usuario {
    position: absolute;
    bottom: 10%;
    left: 5%;
}

/*.row {
    border: solid 1px;
    background-color: white;
}*/

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    border: none;
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    background-color: transparent;
}

.glyphicon {
    font-family: "Font Awesome 5 Free";
}

.glyphicon-eye-open:before {
    content: "\f06e";
    color: var(--success);
}

.glyphicon-pencil:before {
    content: "\f044";
    color: var(--primary);
}

.glyphicon-trash:before {
    content: "\f2ed";
    color: var(--danger);
}
   
  .open-modal {
    text-decoration: none;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
    border: 1px solid;
  }
  
  .modal.is-visible {
    visibility: visible;
    opacity: 1;
  }

  .modal-dialog {
    position: relative;
    width: 80%;
    height: auto;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
    border: 1px solid;
  }

  .modal-dialog > * {
    padding: 1rem;
    background-color:white;
  }
   
  .modal-header,
  .modal-footer {
    background: var(--lightgray);
  }
   
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }
   
  .modal p + p {
    margin-top: 1rem;
  }

  #inicio {
      width: 35px;
      height: auto;
  }

  #fcom {
      width: 35px;
      height: auto;
  }

  #citado {
      width: 35px;
      height: auto;
  }

  .icon {
    width: 20px; height: auto;
  }

  .count {
    margin-left: 8%;
  }

  .card {
      width: 100%;
      height: auto;
  }

  .edit-log_us {
    position: absolute;
    bottom: 10%;
    left: 5%;
  }

  .heart img:hover {
    filter: drop-shadow(1px 1px 0.2px red);
  }

  #answer:hover {
    filter: drop-shadow(1px 1px 0.2px blue);
  }

  #citar:hover {
    filter: drop-shadow(1px 1px 0.2px green);
  }